In [23]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras.utils import to_categorical
from keras.preprocessing import image
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from tqdm import tqdm
%matplotlib inline

In [25]:
# input image dimensions
img_rows, img_cols = 64, 64

df_cat = pd.read_csv('../../../Ironhack/neural-nets/data/cat.csv',header=None).apply(pd.to_numeric)
df_dog = pd.read_csv('../../../Ironhack/neural-nets/data/dog.csv',header=None).apply(pd.to_numeric)
print(df_cat[0].describe())

num_cats = df_cat.values.shape[1]
num_dogs = df_dog.values.shape[1]
print("Cats:{} Dogs:{}".format(num_cats, num_dogs))

cats = df_cat.values.reshape((img_rows, img_cols, num_cats))
dogs = df_dog.values.reshape((img_rows, img_cols, num_dogs))
X = np.concatenate((cats,dogs), axis=2).swapaxes(2,0)
y = np.concatenate((np.zeros(num_cats),np.ones(num_dogs)))
print("Shapes X={} y={}".format(X.shape,y.shape))

count    4096.000000
mean       58.609619
std        63.548593
min         4.000000
25%        10.000000
50%        47.000000
75%        77.000000
max       248.000000
Name: 0, dtype: float64
Cats:80 Dogs:80
Shapes X=(160, 64, 64) y=(160,)

In [28]:
df_cat

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,64,23,250,137,55,173,18,134,19,47,...,122,18,87,106,174,69,28,60,223,101
1,64,23,250,137,55,173,18,134,19,44,...,118,37,80,99,179,71,32,50,224,107
2,64,20,250,137,55,173,18,134,19,56,...,77,24,76,57,163,73,28,63,225,106
3,64,20,244,144,55,173,13,134,19,72,...,109,14,71,32,169,76,38,53,230,105
4,64,9,244,151,55,158,13,134,19,72,...,139,17,71,106,193,77,22,43,233,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,77,65,244,78,45,77,70,114,189,179,...,163,148,52,169,32,66,144,94,184,119
4092,77,51,244,100,45,98,70,114,189,151,...,127,148,84,176,41,65,136,92,180,129
4093,64,31,244,102,37,64,62,114,189,81,...,146,145,55,190,43,88,141,105,180,114
4094,64,23,232,124,45,45,62,114,189,44,...,102,153,50,186,37,99,144,118,182,91
4095,61,9,244,124,52,45,70,114,189,47,...,138,165,65,202,34,66,144,104,177,113